.subtitle {
	display: flex;
	align-items: center;
	padding: 1rem;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 1.15rem;

	.icon {
		color: var(--color-accent);
		font-size: 2rem;
		margin-right: 0.5rem;
	}
}
