.about {
	position: relative;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow: hidden;

	h1 {
		span {
			color: var(--color-accent);
			font-weight: 300;
		}
	}

	p {
		position: relative;
	}

	p::after {
		content: "";
		position: absolute;
		left: 0;
		height: 100%;
		width: 100%;
		background: var(--color-background);
		border-left: 2px solid var(--color-accent);
		animation: typing 5.5s steps(12) infinite;
	}

	.socials {
		margin-top: 0.25rem;
	}

	.about--controls {
		position: absolute;
		bottom: 0;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;

		.about-btn {
			width: 50%;
			height: 4rem;
			font-size: 0.9rem;
			font-weight: 500;
			background-color: var(--color-background);

			border-top: 1px solid var(--color-secondary);
			// border-width: 1px;
			// border-style: solid;
			// border-image: linear-gradient(to bottom, var(--color-secondary), rgba(0, 0, 0, 0)) 1;
			// border-top: none;
			// border-left: none;
			// border-bottom: none;

			&--left {
				border-left: 1px solid var(--color-secondary);

				// border-width: 1px;
				// border-style: solid;
				// border-image: linear-gradient(to right, var(--color-secondary), rgba(0, 0, 0, 0)) 1;
				// border-left: none;
				// border-bottom: none;
			}

			&--right {
				// border-right: 1px solid var(--color-secondary);
				// border-width: 1px;
				// border-style: solid;
				// border-image: linear-gradient(to left, var(--color-secondary), rgba(0, 0, 0, 0)) 1;
				// border-left: none;
				// border-bottom: none;
			}
		}
	}
}

@keyframes typing {
	0% {
		left: 0;
	}
	40%,
	100% {
		left: calc(100% + 2px);
	}
}

@media (min-width: 768px) {
	.about {
		height: 50vh;
	}
}

@media (min-width: 2560px) {
	.about {
		.about--controls {
			.about-btn {
				width: 50%;
				height: 5.25rem;
				font-size: 1.25rem;
			}
		}
	}
}
