.nav {
	position: fixed;
	width: 100%;
	border-width: 1px;
	border-style: solid;
	border-image: linear-gradient(to right, var(--color-secondary), rgba(0, 0, 0, 0)) 1;
	border-top: none;
	border-left: none;
	border-right: none;
}
