.nav-item {
	height: 64px;
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
	justify-content: space-evenly;
	align-items: center;
	color: var(--color-text);
	background: var(--color-default);
	border-width: 1px;
	border-style: solid;
	border-image: linear-gradient(to bottom, var(--color-secondary), rgba(0, 0, 0, 0)) 1;
	border-top: none;
	border-left: none;
	border-bottom: none;

	&:last-child {
		border-right: none;
	}

	&--icon {
		font-size: 1.4rem;
	}

	&--text {
		font-size: 0.85rem;
		text-transform: uppercase;
	}
}
