.project {
	padding: 1rem;
	border-width: 1px;
	border-style: solid;
	border-image: linear-gradient(to left, var(--color-secondary), rgba(0, 0, 0, 0)) 1;
	border-top: none;
	border-left: none;
	border-right: none;
}

.img-wrapper {
	width: 100%;

	img {
		width: 100%;
	}
}

h3 {
	text-align: center;
	// color: var(--color-text-alt);
}

.project-links {
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--color-text-alt);
}
