.project {
	padding: 1rem;
	border-width: 1px;
	border-style: solid;
	border-image: linear-gradient(to left, var(--color-secondary), rgba(0, 0, 0, 0)) 1;
	border-top: none;
	border-left: none;
	border-right: none;
}

.img-wrapper {
	width: 100%;

	img {
		width: 100%;
	}
}

h3 {
	text-align: center;
}

.project-links {
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--color-text-alt);
}

@media (min-width: 768px) {
	.project {
		max-width: 350px;
		margin: 0 auto;
		border: none;
	}
}

@media (min-width: 1024px) {
	.project {
		.img-wrapper {
			width: 100%;

			img {
				width: 100%;
				min-height: 230px;
			}
		}
	}
}

@media (min-width: 2056px) {
	.project {
		max-width: 650px;
		.img-wrapper {
			width: 100%;
			min-width: 500px;

			img {
				width: 100%;
				min-height: 400px;
			}
		}

		h3 {
			font-size: 2.5rem;
		}
	}
}
