.project-section {
	margin-top: 1.5rem;
	background-color: var(--color-default);

	h2 {
		padding: 1rem;
		border-width: 1px;
		border-style: solid;
		border-image: linear-gradient(to right, var(--color-secondary), rgba(0, 0, 0, 0)) 1;
		border-top: none;
		border-left: none;
		border-right: none;
		font-weight: 600;
		font-size: 1.25rem;

		span {
			color: var(--color-accent);
		}
	}
}
